$principal: #ffffff;
$secundario: #161616;
$terciario: #ebef0d;
$acento: #f36500; //Destacar cosas importantes
$seleccion: #4d4d4d;
$emisivo: #ffffff; //Links
$fugaz: #ffc107; //Animaciones boton
$titulo: #161616;
$texto: #ffffff;
$graficas: rgb(255, 166, 22);
$fuente:"Brush Script MT";
$error: rgb(250, 112, 112)
/*Link a la paleta https://coolors.co/fff8f0-ff8811-f4d06f-faac40-43aa8b-897c80 */
